# Flutter/Dart
.dart_tool/
.packages
build/
coverage/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# macOS/Linux/Windows ephemeral
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# FVM
.fvm/
